body {
  background-color: #213747; }

main {
  width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: light-grey; }

.primary-header {
  margin: 0 auto;
  position: relative;
  height: 75px; }

.primary-header div {
  height: 50px;
  background-color: transparent;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0; }

.logo a {
  -webkit-animation: pulse 30s infinite alternate;
  text-decoration: none; }

@-webkit-keyframes pulse {
  0% {
    color: #45CEEF; }

  25% {
    color: #FFF5A5; }

  50% {
    color: #FFD4DA; }

  75% {
    color: #99D2E4; }

  100% {
    color: #D8CAB4; } }

nav {
  text-align: center;
  background-color: transparent;
  position: absolute;
  right: 0px;
  bottom: 0px; }

.control-panel {
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden; }

.panel {
  float: left;
  height: 600px;
  margin: 5px; }

.panel > * + * {
  margin-top: 10px; }

.left-panel {
  background-color: transparent;
  width: -webkit-calc(30% - 10px);
  width: calc(30% - 10px); }

.middle-panel {
  background-color: transparent;
  width: -webkit-calc(40% - 10px);
  width: calc(40% - 10px); }

.right-panel {
  background-color: transparent;
  width: -webkit-calc(30% - 10px);
  width: calc(30% - 10px); }

.box {
  height: -webkit-calc(50% - 5px);
  height: calc(50% - 5px); }

.box header {
  top: 0;
  height: 25%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.fog header {
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222; }

.glass header {
  background-color: rgba(255, 255, 255, 0.5);
  color: #F8F8F8; }

.box h2 {
  margin: 0;
  padding: 30px; }

.box section {
  box-sizing: border-box;
  height: 75%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px; }

.fog section {
  background-color: rgba(255, 255, 255, 0.6); }

.glass section {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 10px; }

.patterns-form {
  margin-top: 10px;
  margin-left: 10px; }

.save-pattern {
  padding: 20px 0px;
  margin-top: 0;
  margin-left: 10px; }

.save-pattern input {
  border: 1px solid #aaa;
  color: #222222;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 10px;
  border-radius: 2px;
  width: 160px;
  outline: none; }

::-webkit-input-placeholder {
  text-align: center; }

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center; }

:-ms-input-placeholder {
  text-align: center; }

.save-pattern button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222;
  width: 182px;
  margin-top: 10px;
  margin-left: 0; }

.pattern_select {
  margin: 10px;
  width: 182px;
  margin-left: 0;
  outline: none;
  border: none; }

.update-pattern, .delete-pattern {
  display: none; }

.power {
  text-align: center; }
  .power i {
    padding: 50px;
    color: rgba(255, 255, 255, 0.9); }

.dial {
  outline: none; }

.colors {
  margin-left: 12px;
  margin-top: -5px; }

.special-radio input {
  display: none; }

.toggle {
  width: 2em;
  height: 1em;
  background: -webkit-linear-gradient(#888, #eee);
  background: linear-gradient(#888, #eee);
  border-radius: 25px; }

.toggle div {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: -webkit-linear-gradient(#eee, #888);
  background: linear-gradient(#eee, #888);
  -webkit-transition: all 1s;
  transition: all 1s; }

.special-radio input:checked ~ .toggle div {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
  -webkit-transition: all 1s;
  transition: all 1s; }

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #F8F8F8;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

ul li:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222; }

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  text-decoration: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s; }

ul li ul li {
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222;
  text-shadow: 0 -1px 0 #000; }

ul li ul li:hover {
  background: #666; }

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

.login {
  width: 960px;
  background-color: DarkCyan;
  margin: 0 auto;
  margin-top: 40px; }

#picker {
  padding: 0;
  border: 0;
  width: 100px;
  height: 20px; }
