main {
  background-color: yellow; }

header {
  background: red; }

footer {
  background-color: blue;
  width: 960px;
  margin: 0 auto;
  position: relative; }

.hero {
  width: 960px;
  margin: 0 auto;
  height: 200px;
  position: relative; }

.content {
  background-color: pink;
  width: 960px;
  margin: 0 auto;
  height: 400px;
  position: relative; }
