body {
	background-color: Gainsboro;
}

main {
	width: 960px;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: light-grey;
}

.primary-header {
	background: red;
	margin: 0 auto;
	position: relative;
	height: 100px;
}

.primary-header div {
	height: 50px;

	background-color: grey;
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}

.logo a {

-webkit-animation: pulse 30s infinite alternate;
  text-decoration: none;
}

  @-webkit-keyframes pulse {
        0% {color: #45CEEF;}
       25% {color: #FFF5A5;}
       50% {color: #FFD4DA;}
       75% {color: #99D2E4;}
       100% {color: #D8CAB4;}
  }


nav {
	// height: 50px;
	text-align: center;
	background-color: grey;
	position: absolute;
	right: 0px;
	bottom: 0px;

}

.control-panel {

	background-color: grey;
	margin-top: 40px;
	margin-bottom: 50px;
	margin-left: -5px;
	margin-right: -5px;
	overflow: hidden;

}

.panel {
	float: left;
	height: 600px;
	margin: 5px;
}

.panel > * + * {
	margin-top: 10px;
}

.left-panel {
	background-color: magenta;
	width: calc(30% - 10px);
}

.middle-panel {
	background-color: green;
	width: calc(40% - 10px);
}

.right-panel {
	background-color: cyan;
	width: calc(30% - 10px);
}

.box {
	background-color: pink;
	height: calc(50% - 5px);
}

.box header {
	background: purple;
	top: 0;
	height: 25%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.fog header {
	background-color: purple;
	color: DodgerBlue;
}

.glass header {
	background-color: DarkSeaGreen;
	color:  LawnGreen;
}

.box h2 {
	margin: 0;
	padding: 30px;
}

.box section {
	box-sizing: border-box;
	height: 75%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px;

}

.fog section {
	background-color: LightSteelBlue;
}

.glass section {
	background-color: MediumPurple;
	text-align: center;
  padding: 10px;
}

.patterns-form {
  margin-top: 10px;
  margin-left: 10px;
}

.save-pattern {
	background-color: Thistle;
	padding: 20px 0px;
	margin-top: 20px;
  margin-left: 10px;
}

.save-pattern input {
	border: 1px solid #aaa;
	padding: 10px 10px;
	border-radius: 2px;
	width: 160px;
  outline: none;
}

  ::-webkit-input-placeholder {
     text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
     text-align: center;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;  
  }

  :-ms-input-placeholder {  
     text-align: center; 
  }

.save-pattern button  {
    padding: 10px;
    background: #4479BA;
    color: #FFF;
    width: 182px;
    margin-top: 10px;
}

.power {
  text-align: center;
  
  i {
    padding: 50px;
  }
}

.dial {
	outline: none;
}

.colors {
	margin-left: 12px;
	margin-top: -5px;
}

// Radio Buttons
// $uncheckedColor: #292321;

// $checkedColor: #00FFFF;

// div {
//   margin:0 0 0.75em 0;
// }

// input[type="radio"] {
//     display:none;
// }
// input[type="radio"] + label {
//     color: $uncheckedColor;
//     font-family:Arial, sans-serif;
//     font-size:14px;
// }
// input[type="radio"] + label span {
//     display:inline-block;
//     width:19px;
//     height:19px;
//     margin:-1px 4px 0 0;
//     vertical-align:middle;
//     cursor:pointer;
//     -moz-border-radius:  50%;
//     border-radius:  50%;
// }

// input[type="radio"] + label span {
//      background-color:$uncheckedColor;
// }

// input[type="radio"]:checked + label span{
//      background-color:$checkedColor;
// }

// input[type="radio"] + label span,
// input[type="radio"]:checked + label span {
//   -webkit-transition:background-color 0.4s linear;
//   -o-transition:background-color 0.4s linear;
//   -moz-transition:background-color 0.4s linear;
//   transition:background-color 0.4s linear;
// }

//jQuery Menu
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: PaleGreen ;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.login {
  width: 960px;
  background-color: DarkCyan;
  margin: 0 auto;
  margin-top: 40px; 
}
