main {
	background-color: yellow;
}
header {
	background: red;

	margin: 0 auto;
	position: relative;
}

nav a {
	font-size: 14px;
	text-decoration: none;
}

footer {
	background-color: blue;

	height: 100px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}


.content {
	background-color: pink;
	width: 960px;
	margin: 0 auto;
	height: 400px;
	position: relative;

}
