body {
  background-color: #213747;
}

main {
	width: 960px;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: light-grey;
}

.primary-header {
	margin: 0 auto;
	position: relative;
	height: 75px;
}

.primary-header div {
	height: 50px;
	background-color: transparent;
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}

.logo a {
-webkit-animation: pulse 30s infinite alternate;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
}

  @-webkit-keyframes pulse {
        0% {color: #45CEEF;}
       25% {color: #FFF5A5;}
       50% {color: #FFD4DA;}
       75% {color: #99D2E4;}
       100% {color: #D8CAB4;}
  }

nav {
	text-align: center;
  background-color: transparent;
	position: absolute;
	right: 0px;
	bottom: 0px;

}

.control-panel {
  background-color: transparent;
	margin-top: 40px;
	margin-bottom: 50px;
	margin-left: -5px;
	margin-right: -5px;
	overflow: hidden;
}

.panel {
	float: left;
	height: 600px;
	margin: 5px;
}

.panel > * + * {
	margin-top: 10px;
}

.left-panel {
	background-color: transparent;
	width: calc(30% - 10px);
}

.middle-panel {
	background-color: transparent;
	width: calc(40% - 10px);
}

.right-panel {
	background-color: transparent;
	width: calc(30% - 10px);
}

.box {
	height: calc(50% - 5px);
}

.box header {
	top: 0;
	height: 25%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.fog header {
	background-color: rgba(255, 255, 255, 0.7);
	color: white;
  text-shadow: 1px 1px 1px #000000;

}

.glass header {
	background-color: rgba(255, 255, 255, 0.5);
	color:  white;
  text-shadow: 1px 1px 1px #000000;
}

.box h2 {
	margin: 0;
	padding: 30px;
}

.box section {
	box-sizing: border-box;
	height: 75%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px;
}

.fog section {
  background-color: rgba(255, 255, 255, 0.5);
}

.glass section {
	background-color: rgba(255, 255, 255, 0.3);
	text-align: center;
  padding: 10px;
}

.patterns-form {
  margin-top: 10px;
  margin-left: 10px;
}

.patterns-scroll {
  height: 125px;
  overflow-y: scroll;
}

.save-pattern {
	padding: 0;
	margin-top: 0;
  text-align: center;
}

.save-pattern input {
	border: 1px solid #aaa;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid white;
	padding: 10px 10px;
	border-radius: 2px;
	width: 160px;
  outline: none;
  font-size: 20px;
}

  ::-webkit-input-placeholder {
     color: rgba(255, 255, 255, 0.5);     
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba(255, 255, 255, 0.5);
  }

  ::-moz-placeholder {  /* Firefox 19+ */ 
     color: rgba(255, 255, 255, 0.5);
  }

  :-ms-input-placeholder {  
     color: rgba(255, 255, 255, 0.5);
  }


.save-pattern button  {
  margin-top: 10px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background-color: white;
  color: #68636e;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 182px;
  border: none;
}

.pattern-select {
  margin: 10px;
  width: 182px;
  height: 40px;
  margin-left: 4px;
  outline: none;
  border: 1px solid white;
  // text-shadow: 1px 1px 1px #000000;
  padding: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 20px;
}

.update-pattern, .delete-pattern  {
  display: none;
}

.new-pattern {
  margin-top: 10px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background-color: white;
  color: #68636e;  
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 182px;
  border: none;
}

.new-pattern-div {
  text-align: center;
}

.power {
  text-align: center;
  
  i {
    padding: 50px;
    color: rgba(255, 255, 255, 0.9)
  }
}

.dial {
	outline: none;
}

.colors {
	margin-left: 25px;
}

//=================
//  Radio Buttons
//=================

$uncheckedColor: rgba(255, 255, 255, 0.3);
$checkedColor: rgba(255, 255, 255, 0.9);

div {
  margin:0 0 0.5em 0;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color: $checkedColor;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: 1px solid white;
}

input[type="radio"] + label span {
     background-color:$uncheckedColor;
}

input[type="radio"]:checked + label span{
     background-color:$checkedColor;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

//====================
//  Navigation Menu
//====================

nav a {
  color:  #F8F8F8;  
  text-decoration: none;

}
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  color:  #F8F8F8;  
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li { 
  display: block; 
  background-color: rgba(255, 255, 255, 0.9);
  color: #222222;
  text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


//=================
//  Login Page
//=================

.login {
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login form {
  padding: 10px;
}

.login input {
  margin-left: 5px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  width: 80%;
  padding: 10px 10px 10px 10px;
}

.pattern-radio-name {
  font-style: normal;
}

.login button {
  margin-top: 10px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;  
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 80%;
  border: none;
  text-shadow: 1px 1px 2px #000000;
}

.login button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #222222;
  text-decoration: none; 
  border: none;
}

.forgot-password {
    margin: 20px;
    a {
    text-decoration: none;
    color: white;
  }
}

//=================
//  Registration
//=================


.register {
  width: 300px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.register form {
  padding: 10px;
}

.register input {
  margin-left: 5px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  width: 80%;
  padding: 10px 10px 10px 10px;
}

.register button {
  margin-top: 10px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;  
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 80%;
  border: none;
  text-shadow: 1px 1px 2px #000000;
}

.register button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #222222;
  text-decoration: none; 
  border: none;
}
