<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<main>
		<header>
			@section('header')
				<div class="logo">
					<h1>&lt;web<strong>B</strong>link&gt;</h1>
				</div>
			@show
		</header>

		<div class="content">
			@yield('main_content')
		</div>
		<footer>
			@section('footer')
				<a href="">About</a>
				<a href="https://www.spark.io/">Spark.io</a>
				<a href="http://www.adafruit.com/">adafruit</a>
			@show
		</footer>
	<main>
</body>
</html>