body {
  background-color: Gainsboro; }

main {
  width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: light-grey; }

.primary-header {
  background: red;
  margin: 0 auto;
  position: relative;
  height: 100px; }

.primary-header div {
  height: 50px;
  width: 150px;
  background-color: grey;
  text-align: center;
  position: absolute;
  bottom: 0px; }

.logo a {
  color: yellow;
  text-decoration: none; }

nav {
  height: 50px;
  width: 100px;
  text-align: center;
  background-color: grey;
  position: absolute;
  right: 0px;
  bottom: 0px; }

nav a {
  font-size: 14px;
  text-decoration: none;
  color: yellow; }

.control-panel {
  background-color: grey;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden; }

.panel {
  float: left;
  height: 600px;
  margin: 5px; }

.panel > * + * {
  margin-top: 10px; }

.left-panel {
  background-color: magenta;
  width: -webkit-calc(30% - 10px);
  width: calc(30% - 10px); }

.middle-panel {
  background-color: green;
  width: -webkit-calc(40% - 10px);
  width: calc(40% - 10px); }

.right-panel {
  background-color: cyan;
  width: -webkit-calc(30% - 10px);
  width: calc(30% - 10px); }

.box {
  background-color: pink;
  height: -webkit-calc(50% - 5px);
  height: calc(50% - 5px); }

.box header {
  background: purple;
  top: 0;
  height: 25%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.fog header {
  background-color: purple;
  color: DodgerBlue; }

.glass header {
  background-color: DarkSeaGreen;
  color: LawnGreen; }

.box h2 {
  margin: 0;
  padding: 30px; }

.box section {
  box-sizing: border-box;
  height: 75%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px; }

.fog section {
  background-color: LightSteelBlue; }

.glass section {
  background-color: MediumPurple;
  text-align: center; }

.save-pattern {
  background-color: Thistle;
  padding: 20px 0px;
  padding-top: 20px;
  text-align: center;
  margin-top: 20px; }

.save-pattern input {
  border: 1px solid #aaa;
  padding: 10px 10px;
  border-radius: 2px;
  width: 155px; }

.dial {
  outline: none; }

.save-pattern button {
  padding: 10px 10px;
  background: #4479BA;
  color: #FFF;
  width: 177px;
  margin-top: 4px; }

div {
  margin: 0 0 0.75em 0; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  color: #292321;
  font-family: Arial, sans-serif;
  font-size: 14px; }

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%; }

input[type="radio"] + label span {
  background-color: #292321; }

input[type="radio"]:checked + label span {
  background-color: #CC3300; }

input[type="radio"] + label span, input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear; }

/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */
/* Switchery defaults. */
.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box; }

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px; }

/* Switchery sizes. */
.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px; }

.switchery-small > small {
  height: 20px;
  width: 20px; }

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px; }

.switchery-large > small {
  height: 40px;
  width: 40px; }

/* Flexnav Base Styles */
.flexnav {
  -webkit-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0; }

.flexnav.opacity {
  opacity: 0; }

.flexnav.flexnav-show {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.flexnav.one-page {
  position: fixed;
  top: 50px;
  right: 5%;
  max-width: 200px; }

.flexnav li {
  font-size: 100%;
  position: relative;
  overflow: hidden; }

.flexnav li a {
  position: relative;
  display: block;
  padding: .96em;
  z-index: 2;
  overflow: hidden;
  color: #222222;
  background: #a6a6a2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.flexnav li ul {
  width: 100%; }

.flexnav li ul li {
  font-size: 100%;
  position: relative;
  overflow: hidden; }

.flexnav li ul.flexnav-show li {
  overflow: visible; }

.flexnav li ul li a {
  display: block;
  background: #b2b2af; }

.flexnav ul li ul li a {
  background: #bfbfbc; }

.flexnav ul li ul li ul li a {
  background: #cbcbc9; }

.flexnav .touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center; }

.flexnav .touch-button:hover {
  cursor: pointer; }

.flexnav .touch-button .navicon {
  position: relative;
  top: 1.4em;
  font-size: 12px;
  color: #666; }

.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  background: #a6a6a2;
  color: #222222;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.menu-button.one-page {
  position: fixed;
  top: 0;
  right: 5%;
  padding-right: 45px; }

.menu-button .touch-button {
  background: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center; }

.menu-button .touch-button .navicon {
  font-size: 16px;
  position: relative;
  top: 1em;
  color: #666; }

@media all and (min-width: 800px) {
  body.one-page {
    padding-top: 70px; }
  .flexnav {
    overflow: visible; }
  .flexnav.opacity {
    opacity: 1; }
  .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    overflow: visible;
    width: 20%; }
  .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none; }
  .flexnav li > ul {
    position: absolute;
    top: auto;
    left: 0; }
  .flexnav li > ul li {
    width: 100%; }
  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0; }
  .flexnav li ul li a {
    border-bottom: none; }
  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1; }
  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px; }
  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0; }
  .menu-button {
    display: none; } }

.oldie body.one-page {
  padding-top: 70px; }

.oldie .flexnav {
  overflow: visible; }

.oldie .flexnav.one-page {
  top: 0;
  right: auto;
  max-width: 1080px; }

.oldie .flexnav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
  min-height: 50px;
  overflow: visible; }

.oldie .flexnav li:hover > ul {
  display: block;
  width: 100%;
  overflow: visible; }

.oldie .flexnav li:hover > ul li {
  width: 100%;
  float: none; }

.oldie .flexnav li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
  overflow: visible; }

.oldie .flexnav li > ul {
  background: #acaca1;
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  z-index: 1;
  overflow: visible; }

.oldie .flexnav li ul li ul {
  top: 0; }

.oldie .flexnav li ul li a {
  border-bottom: none; }

.oldie .flexnav li ul.open {
  display: block;
  width: 100%;
  overflow: visible; }

.oldie .flexnav li ul.open li {
  width: 100%; }

.oldie .flexnav li ul.open ul.open {
  margin-left: 100%;
  top: 0;
  display: block;
  width: 100%;
  overflow: visible; }

.oldie .flexnav ul li:hover ul {
  margin-left: 100%;
  top: 0; }

.oldie .menu-button {
  display: none; }

.oldie.ie7 .flexnav li {
  width: 19.9%; }
